body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
  
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  a {
    text-decoration: none;
  }
  
  .header__wrapper header {
    width: 100%;
    background-image: url(pic/bge.jpg);
    min-height: calc(100px + 15vw);
  }
  
  .header__wrapper .cols__container .top__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
  }
  
  .header__wrapper .cols__container .top__col .img__container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .header__wrapper .cols__container .top__col .img__container img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
  }
  
  
  .header__wrapper .cols__container .top__col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
  }
  
  .header__wrapper .cols__container .top__col p {
    font-size: 0.9rem;
    color: #605e5e;
    margin: 0;
  }
  
  .header__wrapper .cols__container .top__col .about {
    justify-content: space-evenly;
    position: relative;
    margin: 35px 0;
  }
  
  
  .header__wrapper .cols__container .top__col .about li {
    display: flex;
    flex-direction: column;
    color: #605e5e;
    font-size: 0.9rem;
  }
  
  .header__wrapper .cols__container .top__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
  }
  
  .header__wrapper .cols__container .top__col .about::after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #696464;
    height: 2px;
    width: 100%;
  }
  
  
  .header__wrapper .cols__container .content p {
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8rem;
  }
  
  .header__wrapper .cols__container .content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  
  .header__wrapper .cols__container .content ul li {
    display: flex;
  }
  
  .header__wrapper .cols__container .content ul i {
    font-size: 1.5rem;
  }
  
  .header__wrapper .cols__container .bottom__col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  
  .header__wrapper .cols__container .bottom__col nav ul li a {
    text-transform: uppercase;
    color: #050505;
  }
  
  .header__wrapper .cols__container .bottom__col nav ul li:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;
  }
  
  
  .header__wrapper .cols__container .bottom__col .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
  }
  
  .header__wrapper .cols__container .bottom__col .photos img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  
  .header__wrapper .cols__container .bottom__col nav ul li {
    color: #050505;
    font-size: large;
    padding: 20px;
  
  }